@import url('@/globals.css');

.container-pomodoro {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 80vh;
}

.container-tempo {
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cronometro {
    width: 35vh;
    height: 35vh;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px solid var(--primary);
    font-size: 2.3em;
    font-family: "Ovo", serif;
}

.container-btns {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.btn-pomodoro {
    background-color: var(--backsecondary10);
    border-radius: 10px;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    gap: 8px;
    width: auto;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-pomodoro:hover {
    background-color: #c6bfff;
}

.seta {
    width: 15px;
}

.reset {
    width: 20px;
}

.btn-reiniciar {
    border-radius: 10px;
    padding: 15px;
}

.btn-reiniciar:hover {
    background-color: var(--backsecondary10);
}

.container-tempo-total {
    width: 30%;
    max-height: 100%;
    overflow-y: auto;
}

.container-foco .titulo {
    font-size: 1rem;
    font-family: "Ovo", serif;
}

.container-foco .tempo {
    margin-top: 15px;
    font-size: 1.5rem;
}

.container-foco {
    background-color: var(--primary);
    color: #fff;
    flex-direction: column;
    margin-bottom: 15px;
}

.atividades-andamento {
    background-color: var(--backsecondary10);
}

.container-atividade-pomodoro {
    padding: 40px;
    border-radius: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
}

.titulo-projeto {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.container-tipo-atividade {
    margin-top: 8px;
    .desc-tipo {
        font-size: 1em;
        font-family: "Ovo", serif;
        color: var(--primary);
        text-transform: capitalize;
        border-bottom: 1px solid var(--primary);
    }
    .container-listas-atividades {
        margin-top: 18px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .label-atividade {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background: var(--backgroundLight);
            border-radius: 10px;
            width: 100%;
            padding: 15px 10px;
            gap: 20px;
            .titulo-atividade {
                font-size: 1em;
                word-wrap: break-word;
                word-break: break-word;
                white-space: normal;
                width: 100%;
                margin: 0;
            }
            input {
                width: 20px;
            }
        }
    }
}

.elemento-removido {
    animation: moveRight 2s ease-in-out forwards;
}

@keyframes moveRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

.btn-voltar {
    display: flex;
    gap: 8px;
    width: 141px !important;
    padding: 10px !important;
    box-sizing: content-box;
}